<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/logo.png" type="image/png">
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="favicon" href="/assets/logo.png" type="image/png">
<link rel="favicon" href="/assets/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/assets/logo.png" type="image/png">
<link rel="stylesheet" href="/assets/style/rouge-gh-dark.css">
<script src="/assets/script/code-copy.js" defer></script>
<link rel="stylesheet" href="/assets/style/code-copy.css">
<meta name="og:image" content="{{ page.background | absolute_url }}">
<meta name="twitter:image" content="{{ page.background | absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:updated_time" content="{{ page.date | date_to_xmlschema }}">
{% if site.tags != "" %}
  {% include propagate_tags.html %}
{% endif %}